@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%
}

@layer base {
    :root {
        /* Light Theme */
        --background: 0 0% 100%; /* White */
        --foreground: 240 10% 3.9%; /* Light Grayish Red */
        --card: 0 0% 100%; /* White */
        --card-foreground: 240 10% 3.9%; /* Light Grayish Red */
        --popover: 0 0% 100%; /* White */
        --popover-foreground: 240 10% 3.9%; /* Light Grayish Red */
        --primary: 0 72.2% 50.6%; /* Red */
        --primary-foreground: 355.7 100% 97.3%; /* Almost White */
        --secondary: 240 4.8% 95.9%; /* Desaturated Red */
        --secondary-foreground: 240 5.9% 10%; /* Dark Red */
        --muted: 240 4.8% 95.9%; /* Desaturated Red */
        --muted-foreground: 240 3.8% 46.1%; /* Mid-tone Red */
        --accent: 240 4.8% 95.9%; /* Desaturated Red */
        --accent-foreground: 240 5.9% 10%; /* Dark Red */
        --destructive: 0 84.2% 60.2%; /* Dark Red */
        --destructive-foreground: 0 0% 98%; /* Almost White */
        --border: 240 5.9% 90%; /* Desaturated Red */
        --input: 240 5.9% 90%; /* Desaturated Red */
        --ring: 0 72.2% 50.6%; /* Red */
        --radius: 0.5rem; /* Border Radius */
    }

    .dark {
        /* Dark Theme */
        --background: 20 14.3% 4.1%; /* Dark Red */
        --foreground: 0 0% 95%; /* Almost White */
        --card: 24 9.8% 10%; /* Dark Red */
        --card-foreground: 0 0% 95%; /* Almost White */
        --popover: 0 0% 9%; /* Very Dark Red */
        --popover-foreground: 0 0% 95%; /* Almost White */
        --primary: 0 72.2% 50.6%; /* Red */
        --primary-foreground: 355.7 100% 97.3%; /* Almost White */
        --secondary: 240 3.7% 15.9%; /* Darker, Desaturated Red */
        --secondary-foreground: 0 0% 98%; /* Almost White */
        --muted: 0 0% 15%; /* Very Dark Red */
        --muted-foreground: 240 5% 64.9%; /* Medium-Dark Red */
        --accent: 12 6.5% 15.1%; /* Dark, Desaturated Red */
        --accent-foreground: 0 0% 98%; /* Almost White */
        --destructive: 0 62.8% 30.6%; /* Dark, Moderately Saturated Red */
        --destructive-foreground: 0 85.7% 97.3%; /* Very Light Red */
        --border: 240 3.7% 15.9%; /* Dark, Desaturated Red */
        --input: 240 3.7% 15.9%; /* Dark, Desaturated Red */
        --ring: 0 72.2% 50.6%; /* Red */
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    p {
        @apply font-semibold text-center pb-2;
    }
}